.sidebar {
  width: 250px;
  height: 400px;
  display: flex;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
  margin-top: 3px;

  .sidebar-content {
    form {
      margin-bottom: 15px;
    }

    .category-grid {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }

    .form-check {
      display: flex;
      align-items: center;

      input {
        margin-right: 5px;
      }

      label {
        margin: 0;
      }
    }

    .sorting {
      margin-top: 15px;
    }

    .sorting-options {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;

      .form-check {
        display: flex;
        align-items: center;

        input {
          margin-right: 5px;
        }

        label {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;

    .sidebar-content {
      padding: 20px;

      .category-grid {
        gap: 15px;
      }

      .sorting-options {
        margin-top: 15px;
      }
    }
  }
}
