// Main.scss
.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-container,
.sidebar-container {
  position: static; 
}

.content-container {
  display: flex;
  flex: 1;
  overflow-y: auto;
  padding-top: 70px; 
}